*.egg
*.egg-info/
*.py[cod]
*.pyd
*.pyo
*.so
*.spec
*.swo
*.swp
*~
.AppleDouble
.coverage
.DS_Store
.eggs/
.idea/
.LSOverride
.mypy_cache/
.pylint.d/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
__pycache__/
build/
dist/
dist/
env/
ENV/
htmlcov/
venv/
